body {
    font-size: 14px;
}

td {
    border: solid black 1px;
    padding: 0px 5px;
}

table {
    border-collapse: collapse;
}

.alart {
    color: #ff0000;
}

.hidden {
    background-color: #C6C6C6;
}

.shop h2 {
    background-color: #e6e6fa;
}

.shop table {
    box-sizing: border-box;
    width: 936px;
}

.shop tr {
    border-collapse: collapse;
    text-align: center;
    float: left;
}

.shop td {
    border: solid black 1px;
    padding: 0px 5px;
    width: 200px;
    padding: 6px;
    height: 240px;
}

.msg {
    background-color: #0086AB;
    color: #ffffff;
}

.cart table {
    width: 600px;
}

.sum {
    font-size: 20px;
}

.thanks {
    font-size: 20px;
    color: #0000ff;
}

